[Unit]
Description=nzxt kraken driver daemon
ConditionUser=root
Requires=krakend.socket

[Install]
Also=krakend.socket

[Service]
Type=notify
ExecStart=/usr/local/bin/krakend --daemonize=false --notify=systemd --socket-file=systemd
Restart=on-failure
User=root
NotifyAccess=main
